
@{
    Layout = null;
}

﻿<div class="header">
    <div class="header-content clearfix">
        <div class="header-left">
            <div class="input-group icons">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1">
                        <i class="mdi mdi-magnify"></i>
                    </span>
                </div>                
                <div class="drop-down d-md-none">
                    <form action="#">                        
                    </form>
                </div>
            </div>
        </div>
        <div class="header-right">
            <ul class="clearfix">
             
             
                <li class="icons dropdown">
                   
                    <div class="drop-down dropdown-profile dropdown-menu">
                        <div class="dropdown-content-body">
                            <ul>
                                <li>
                                    <a href="/Profile/Profile"><i class="icon-user"></i> <span>Profil</span></a>
                                </li>
                                <li>
                                    <a href="/Message/Inbox/"><i class="icon-envelope-open"></i> <span>Gelen Kutusu</span> <div class="badge gradient-3 badge-pill badge-primary">3</div></a>
                                </li>
                                <hr class="my-2">
                                <li><a href="/Login/UserLogin/"><i class="icon-key"></i> <span>Çıkış Yap</span></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>